<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>GoogleSignIn</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.694006864399-t8rbrd19cmv0mi7vsclslujh9ehh4ucd</string>
			</array>
		</dict>
	</array>
	<key>OTPApiBaseURL</key>
	<string>https://YOUR-DEPLOYED-ENDPOINT.example.com</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We use your photo library to let you attach images in chat.</string>
	<key>GIDClientID</key>
	<string>694006864399-t8rbrd19cmv0mi7vsclslujh9ehh4ucd.apps.googleusercontent.com</string>
	<key>SupabaseURL</key>
	<string>https://oocegnwdfnnjgoworrwh.supabase.co</string>
	<key>SupabaseAnonKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9vY2VnbndkZm5uamdvd29ycndoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUzNDk1MDcsImV4cCI6MjA3MDkyNTUwN30.QA05vtt_KgQTQ_EfABuEtDnYO_2-W-L6zo_dHBLBRfw</string>
	<key>OpenAIAPIKey</key>
	<string>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</string>
</dict>
</plist>
