<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694006864399-t8rbrd19cmv0mi7vsclslujh9ehh4ucd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694006864399-t8rbrd19cmv0mi7vsclslujh9ehh4ucd</string>
	<key>API_KEY</key>
	<string>AIzaSyA1RYSVfRjSch-jTMKfY1dBCT0-dRlNRv0</string>
	<key>GCM_SENDER_ID</key>
	<string>694006864399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Abdulrahman.Synapse</string>
	<key>PROJECT_ID</key>
	<string>synapse-4578e</string>
	<key>STORAGE_BUCKET</key>
	<string>synapse-4578e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694006864399:ios:719b5fa631bcb232a8a17a</string>
</dict>
</plist>